# Ejercicio 1: Transformar cadenas
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

> **Nota**
> Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado compilar el programa de acuerdo con las especificaciones.

El texto con el que trabajarás es el siguiente:

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [8]:
# Añade el código necesario
oraciones = text.split(".")
oraciones

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [17]:
# Define las palabras pista: average, temperature y distance suenan bien
claves = ["average", "temperature", "distance"]

In [16]:
clave[0] in oraciones[3]

True

Cre un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [19]:
# Ciclo for para recorrer la cadena
for oracion in oraciones:
  for clave in claves:
    if clave in oracion:
      print(oracion)
      break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [20]:
# Ciclo para cambiar C a Celsius
for oracion in oraciones:
  for clave in claves:
    if clave in oracion:
      print(oracion.replace("C","Celsius"))
      break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

> Recuerda: Lo importante es intentarlo, puedes auxiliarte de internet, libros, etc. El objetivo de una kata es la comprobación de la comprensión de la lección y su aplicación inmediata a la resolución de problemas. Go for it!

# Ejercicio 2: Formateando Cadenas

Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [21]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [23]:
# Creamos el título
titulo = f"Gravity Facts about {name}"

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [24]:
# Creamos la plantilla
informacion = f"""{'-'*80} 
Planet Name: {planet} 
Gravity on {name}: {gravity * 1000} m/s2 
"""

Finalmente, usa ambas variables para unir el título y los hechos.

In [32]:
# Unión de ambas cadenas
template = f"""{titulo.title()} 
{informacion} 
""" 
print(template)

Gravity Facts About Earth
--------------------------------------------------------------------------------
Planet Name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

In [34]:
# Comprueba la plantilla
# print(nombre_plantilla)
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'
print(template)

Gravity Facts About Earth
--------------------------------------------------------------------------------
Planet Name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [36]:
# Nueva plantilla
new_template = """
Gravity Facts about {name}
-------------------------------------------------------------------------------
Planet Name: {planet}
Gravity on {name}: {gravity} m/s2
"""
print(new_template.format(name=name,planet=planet,gravity=gravity))

Gravity Facts about Ganímedes
-------------------------------------------------------------------------------
Planet Name: Marte
Gravity on Ganímedes: 0.00143 m/s2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [38]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(name=name,planet=planet,gravity=gravity*1000))

Gravity Facts about Ganímedes
-------------------------------------------------------------------------------
Planet Name: Marte
Gravity on Ganímedes: 1.4300000000000002 m/s2

## Soluciones

## Ejercicio 1

In [ ]:
# Divide el texto
text_parts = text.split('. ')
text_parts

In [ ]:
# Palabras clave
key_words = ["average", "temperature", "distance"]

In [ ]:
# Ciclo for para recorrer la cadena
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

In [ ]:
# Ciclo para cambiar C a Celsius
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

## Ejercicio 2

In [25]:
# Datos con los que vamos a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [26]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

In [27]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [28]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [29]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [30]:
# Comprobamos la plantilla
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [31]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [ ]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Curso Propedútico de Python para Launch X - Innovacción Virtual.

Material desarrollado con base en los contenidos de MSLearn y la metáfora de LaunchX, traducción e implementación por: Fernanda Ochoa - Learning Producer de LaunchX.

Redes:
* GitHub: [FernandaOchoa](https://github.com/FernandaOchoa)
* Twitter: [@imonsh](https://twitter.com/imonsh)
* Instagram: [fherz8a](https://www.instagram.com/fherz8a/)